<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Waste Diversion and Recycling Tracking System - Green Halo - The Leader in Waste Tracking Solution</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="stilearning">

  <meta http-equiv="x-pjax-version" content="v173">
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- fav and touch icons -->


  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/favico-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/favico-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/favico-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/favico-57-precomposed.png">
  <link rel="shortcut icon" href="ico/favico.png">
  <link rel="shortcut icon" href="ico/favico.ico">


  <!-- build:css /assets/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/bower_components/animate.css/animate.css">
  <link rel="stylesheet" href="/assets/bower_components/Hover/css/hover.css">
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css(.tmp) /assets/main.css -->
  <link id="style-components" href="/assets/after_login/loaders.css" rel="stylesheet">
  <link id="style-components" href="/assets/after_login/bootstrap-theme.css" rel="stylesheet">
  <link id="style-components" href="/assets/after_login/dependencies.css" rel="stylesheet">
  <link id="style-base" href="/assets/after_login/stilearn.css" rel="stylesheet">
  <link id="style-responsive" href="/assets/after_login/stilearn-responsive.css" rel="stylesheet">
  <link id="style-helper" href="/assets/after_login/helper.css" rel="stylesheet">
  <link id="style-sample" href="/assets/after_login/pages-style.css" rel="stylesheet">
  <!-- endbuild -->




</head>


<body class="animated fadeIn">
<!-- section header -->
<header class="header">
  <!-- header brand -->
  <div class="header-brand">
    <%= link_to (image_tag("dummy/wastetracking.png" ,:width => 154, :style => 'margin: 8px;')) %>
  </div><!-- header brand -->

  <!-- header-profile -->
  <div class="header-profile">
    <div class="profile-nav">
      <span class="profile-username"><%#= current_user.try(:first_name) %></span>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-angle-down"></span>
      </a>
      <ul class="dropdown-menu animated flipInX pull-right" role="menu">
        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> Inbox</a></li>
        <li><a href="#"><i class="fa fa-tasks"></i> Tasks</a></li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, :method => :delete do %>
             <i class="fa fa-sign-out"></i> Log Out
          <% end %>
        </li>
      </ul>
    </div>
    <div class="profile-picture">
      <%= image_tag "img/new-logo.png" %>
    </div>
  </div><!-- header-profile -->

  <form role="form" class="form-inline">
    <button type="button" class="btn btn-default btn-expand-search"><i class="fa fa-search"></i></button>
    <div class="toggle-search">
      <input type="text" class="form-control" placeholder="Search something">
      <button type="button" class="btn btn-default btn-collapse-search"><i class="fa fa-times"></i></button>
    </div>
  </form><!--/form-search-->

  <!-- header menu -->
  <ul class="hidden-xs header-menu pull-right">
    <li>
      <%#= link_to new_bug_report_path(:domain => current_user.domain_name),remote: true, title:"Reports"  do %>
          <i class="fa fa-bug"></i>
      <%# end %>
    </li>
    <li>
      <%#= link_to new_suggestion_path(:domain => current_user.domain_name),remote: true, title:"Suggestions"  do %>
          <i class="fa fa-lightbulb-o"></i>
      <%# end %>
    </li>
    <li>
      <a href="#" title="View site">
        <i class="header-menu-icon icon-only fa fa-rocket"></i>
      </a>
    </li><!-- /header-menu-item -->
    <li>
      <a href="#" title="Notifications" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <span class="badge badge-success">4</span>
        <i class="header-menu-icon icon-only fa fa-warning"></i>
      </a>
      <ul class="dropdown-menu dropdown-extend animated fadeInDown pull-right" role="menu">
        <li class="dropdown-header">Notofications</li><!-- /dropdown-header -->
        <li class="notif-minimal" data-toggle="niceScroll" data-scroll-cursorcolor="#ecf0f1">
          <a class="notif-item" href="#">
            <div class="notif-ico bg-primary">
              <i class="fa fa-heart-o"></i>
            </div>
            <p class="notif-text"><span class="text-bold">Evelyn</span> favorite your Post</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-ico bg-warning">
              <i class="fa fa-user"></i>
            </div>
            <p class="notif-text"><span class="text-bold">Evans</span> register as a Member</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-ico bg-success">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <p class="notif-text"><span class="text-bold">Katherine</span> purchase an Item</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-ico bg-danger">
              <i class="fa fa-comment-o"></i>
            </div>
            <p class="notif-text"><span class="text-bold">Gomez</span> Comment on your Post</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-ico bg-info">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="notif-text"><span class="text-bold">Willie</span> is now following you</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-ico bg-success">
              <i class="fa fa-cloud-upload"></i>
            </div>
            <p class="notif-text"><span class="text-bold">Nguyen</span> upload new Portofolio</p>
          </a><!-- /notif-item -->
        </li><!-- /dropdown-alert -->
        <li class="dropdown-footer bg-cloud">
          <a class="view-all" tabindex="-1" href="#">
            <i class="fa fa-angle-right pull-right"></i> See all notifications
          </a>
        </li><!-- /dropdown-footer -->
      </ul><!-- /dropdown-extend -->
    </li><!-- /header-menu-item -->
    <li>
      <a href="#" title="Messages" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <span class="badge badge-warning animated animated-repeat flash">3</span>
        <i class="header-menu-icon icon-only fa fa-envelope-o"></i>
      </a>
      <ul class="dropdown-menu dropdown-extend animated fadeInDown pull-right" role="menu">
        <li class="dropdown-header">You have 3 new messages</li><!-- /dropdown-header -->
        <li class="notif-media" data-toggle="niceScroll" data-scroll-cursorcolor="#ecf0f1">
          <a class="notif-item" href="#">
            <div class="notif-img pull-left">
              <img src="/assets/dummy/uifaces21.jpg" alt="" class="img-circle">
            </div>
            <h3 class="notif-heading">Account Team <small>58 min</small></h3>
            <p class="notif-text">Spread the Word & Earn!</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-img pull-left">
              <img src="/assets/dummy/uifaces5.jpg" alt="" class="img-circle">
            </div>
            <h3 class="notif-heading">Timothy Lucas, Me (2) <small>Wed</small></h3>
            <p class="notif-text">Elit odio, sed leo ligula semper, vehicula maecenas, eros fusce</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-img pull-left">
              <img src="/assets/dummy/uifaces4.jpg" alt="" class="img-circle">
            </div>
            <h3 class="notif-heading">Raymond Rios <small>Tue</small></h3>
            <p class="notif-text">Risus suscipit urna, tristique molestie vestibulum nunc tempor ultricies</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-img pull-left">
              <img src="/assets/dummy/uifaces6.jpg" alt="" class="img-circle">
            </div>
            <h3 class="notif-heading">Stilearning <small>Tue</small></h3>
            <p class="notif-text">Thanks for ordering Stilearn Admin (order #WD12345678)</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-img pull-left">
              <img src="/assets/dummy/uifaces9.jpg" alt="" class="img-circle">
            </div>
            <h3 class="notif-heading">andrea.olson@mail.com <small>Mon</small></h3>
            <p class="notif-text">Lectus curabitur mauris arcu donec morbi diam</p>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-img pull-left">
              <img src="/assets/dummy/uifaces8.jpg" alt="" class="img-circle">
            </div>
            <h3 class="notif-heading">Nicole Miller <small>Mon</small></h3>
            <p class="notif-text">Approval for new design!</p>
          </a><!-- /notif-item -->
        </li><!-- /dropdown-alert -->
        <li class="dropdown-footer bg-cloud">
          <a class="view-all" tabindex="-1" href="#">
            <i class="fa fa-angle-right pull-right"></i> See all messages
          </a>
        </li><!-- /dropdown-footer -->
      </ul><!-- /dropdown-extend -->
    </li><!-- /header-menu-item -->
    <li>
      <a href="#" title="Activity" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <span class="badge badge-danger">7</span>
        <i class="header-menu-icon icon-only fa fa-tasks"></i>
      </a>
      <ul class="dropdown-menu dropdown-extend animated fadeInDown pull-right" role="menu">
        <li class="dropdown-header">Tasks progress</li><!-- /dropdown-header -->
        <li class="notif-progress" data-toggle="niceScroll" data-scroll-cursorcolor="#ecf0f1">
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">60%</div>
            <div class="notif-text">Uploading...</div>
            <div class="progress progress-sm">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">33%</div>
            <div class="notif-text">Upgrade Theme</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                <span class="sr-only">33% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">87%</div>
            <div class="notif-text">Webapp Development</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                <span class="sr-only">87% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">54%</div>
            <div class="notif-text">Backup Data</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                <span class="sr-only">54% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">92%</div>
            <div class="notif-text">Bandwidth Limit</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                <span class="sr-only">92% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">26%</div>
            <div class="notif-text">Clean System</div>
            <div class="progress progress-sm">
              <div class="progress-bar" role="progressbar" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100" style="width: 26%">
                <span class="sr-only">26% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">100%</div>
            <div class="notif-text">Done</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">100%</div>
            <div class="notif-text">Done</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">100%</div>
            <div class="notif-text">Done with warning</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
          <a class="notif-item" href="#">
            <div class="notif-text pull-right">12%</div>
            <div class="notif-text">Error</div>
            <div class="progress progress-sm">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%">
                <span class="sr-only">12% Complete</span>
              </div>
            </div>
          </a><!-- /notif-item -->
        </li><!-- /dropdown-alert -->
        <li class="dropdown-footer bg-cloud">
          <a class="view-all" tabindex="-1" href="#">
            <i class="fa fa-angle-right pull-right"></i> See all Tasks
          </a>
        </li><!-- /dropdown-footer -->
      </ul><!-- /dropdown-extend -->
    </li><!-- /header-menu-item -->
  </ul><!--/header-menu pull-right-->
</header><!--/header-->

<!-- content section -->
<section class="section">
  <!-- DONT FORGET REPLACE IT FOR PRODUCTION! -->
  <aside class="side-left">
    <ul class="sidebar">
      <li class="active">

          <%#= link_to authenticated_root_path  do %>
              <i class="sidebar-icon fa fa-home"></i>
            <span class="sidebar-text">Dashboard</span>
          <%# end %>


      </li><!--/sidebar-item-->
      <li>
        <%#= link_to tracking_index_path(current_user.domain_name,current_user.role_type.downcase)  do %>
            <i class="sidebar-icon fa fa-eye"></i>
            <span class="sidebar-text">Tracking</span>
        <%#end%>
      </li><!--/sidebar-item-->

      <li>
        <%#= link_to organize_tracking_index_path(current_user.domain_name,current_user.role_type.downcase)  do %>
          <!--<div class="badge badge-primary animated animated-repeat wobble">3</div>-->
          <i class="sidebar-icon fa fa-sitemap"></i>
          <span class="sidebar-text">Organize</span>
        <%# end %>
      </li><!--/sidebar-item-->

      <li>
        <%#= link_to tools_tracking_index_path(current_user.domain_name,current_user.role_type.downcase)  do %>
          <i class="sidebar-icon fa fa-wrench"></i>
          <span class="sidebar-text">Tools</span>
        <%# end %>
      </li><!--/sidebar-item-->

      </li><!--/sidebar-item-->
    </ul><!--/sidebar-->
  </aside><!--/side-left-->

  <div class="content">
    <div class="content-header">

      <div class="content-header-extra">
        <span class="gh-content-title">Solids</span>
        <a class="item-ch-extra" href="#">
          <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-barcolor="#5BB75B" data-value="0,5,3,9,6,5,9,7,3,5,2"></span>
          <div class="data-text text-success">
            <%=  @solid_recycled_tons if @solid_recycled_tons%> <p class="text-muted">Recycled</p>
          </div>
        </a><!--/item-ch-extra-->


        <a class="item-ch-extra" href="#">
          <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-value="0,9,7,9,6,3,5,3,5,5,2"></span>
          <div class="data-text text-primary">
            <%= @solid_reused_tons if @solid_reused_tons %> <p class="text-muted">Reused</p>
          </div>
        </a><!--/item-ch-extra-->

        <a class="item-ch-extra" href="#">
          <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-barcolor="#49AFCD" data-value="0,6,5,9,7,3,5,2,5,3,9"></span>
          <div class="data-text text-info">
            <%= @solid_disposed_tons if @solid_disposed_tons %> <p class="text-muted">Disposed</p>
          </div>
        </a><!--/item-ch-extra-->


        <span class="gh-content-title">Liquids</span>
        <a class="item-ch-extra" href="#">
          <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-barcolor="#5BB75B" data-value="0,5,3,9,6,5,9,7,3,5,2"></span>
          <div class="data-text text-success">
            <%= @liquid_recycled_tons if @liquid_recycled_tons %> <p class="text-muted">Recycled</p>
          </div>
        </a><!--/item-ch-extra-->

        <div class="divider"></div>

        <a class="item-ch-extra" href="#">
          <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-value="0,9,7,9,6,3,5,3,5,5,2"></span>
          <div class="data-text text-primary">
            <%= @liquid_reused_tons %> <p class="text-muted">Reused</p>
          </div>
        </a><!--/item-ch-extra-->

        <div class="divider"></div>

        <a class="item-ch-extra" href="#">
          <span class="sparkline-bar" data-height="36px" data-barwidth="3" data-barcolor="#49AFCD" data-value="0,6,5,9,7,3,5,2,5,3,9"></span>
          <div class="data-text text-info">
            <%= @liquid_disposed_tons %> <p class="text-muted">Disposed</p>
          </div>
        </a><!--/item-ch-extra-->
      </div><!--/content-header-extra -->
      <h2 class="gh-content-title">
        <i class="sidebar-icon fa fa-home">Welcome</i>
      </h2>
    </div><!--/content-header -->

    <!-- content-control -->
    <div class="content-control">


      <!--control-nav-->
      <ul class="control-nav pull-right">
        <li class="divider"></li>
        <li>
          <a href="#">
            <i class="fa fa-money"></i> Money Back <span class="text-danger">(+0)</span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-usd"></i> Disposal Costs <span class="text-danger">(+0)</span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu animated flipInX pull-right">
            <li><a href="#">Some Action</a></li>
            <li><a href="#">Other Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Something Else</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li>
          <a href="http://messenger.providesupport.com/messenger/greenhalo.html" target="_blank">
            <i class="fa fa-comment-o animated animated-repeat flash"></i> Live Chat
          </a>
        </li>
      </ul><!--/control-nav-->


      <ul class="control-nav pull-right">
        <li class="divider"></li>
        <li>
          <a href="#">
            <i class="fa fa-eye"></i> Units Tracked <span class="text-danger">+<%= @wgu_count %></span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-file-text-o"></i> Reporting <span class="text-danger">(+0)</span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu animated flipInX pull-right">
            <li><a href="#">Some Action</a></li>
            <li><a href="#">Other Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Something Else</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <i class="fa fa-file-excel-o"></i> Not Reporting
          </a>
        </li>
      </ul><!--/control-nav-->


      <!--breadcrumb-->
      <ul class="breadcrumb">
        <li><a href="index.php"><i class="fa fa-home"></i> Dashboard</a></li>

      </ul><!--/breadcrumb-->
    </div><!-- /content-control-->

      <div class="content-body">
          <%= yield %>
      </div>

  </div><!--/content -->

</section><!--/content section -->


<!-- side-right -->
<aside class="side-right">
  <div class="module" data-toggle="niceScroll">
    <div class="chat-contact">
      <h3 class="contact-heading">
        <div class="btn-group pull-right">
          <a href="#" data-toggle="side-right">
            <i class="fa fa-times text-sm"></i>
          </a>
        </div>
        <i class="fa fa-group"></i> Hangouts
        <div class="btn-group">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-angle-down text-sm"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="active"><a href="#"><i class="fa fa-circle text-primary"></i> Online</a></li>
            <li><a href="#"><i class="fa fa-circle text-danger"></i> Offline</a></li>
            <li><a href="#"><i class="fa fa-circle text-warning"></i> Idle</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-circle text-midnight"></i> Disable</a></li>
          </ul>
        </div>
      </h3><!-- /contact-heading -->

      <div class="contact-body">
        <ul class="contacts-list">
          <li class="separate">Top friends</li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Phillip Morrison</a></li>
          <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Samuel Porter</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Kathy Reynolds</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Aaron James</a></li>
          <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Teresa May</a></li>

          <li class="separate">Teams</li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> John Doe</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Iin Triasneni</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Mahatma</a></li>
          <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Lawrence Ramirez</a></li>
          <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Samantha Jenkins</a></li>
          <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Sarah Payne</a></li>
          <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Justin Perry</a></li>

          <li class="separate">Clients</li>
          <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Rebecca Vargas</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Sean Carpenter</a></li>
          <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Arthur Pearson</a></li>
          <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Julie Jimenez</a></li>
          <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Sandra Ramirez</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Nicholas Cole</a></li>
          <li class="idle"><a href="#"><i class="fa fa-circle-o" title="idle" rel="tooltip-bottom"></i> Madison Hall</a></li>
          <li class="offline"><a href="#"><i class="fa fa-circle-o" title="offline" rel="tooltip-bottom"></i> Alan Shaw</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Randy Mills</a></li>

          <li class="separate">All</li>
          <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Kenneth Soto</a></li>
          <li class="disable"><a href="#"><i class="fa fa-circle-o" title="disable" rel="tooltip-bottom"></i> Harold James</a></li>
          <li class="online"><a href="#"><i class="fa fa-circle-o" title="online" rel="tooltip-bottom"></i> Paul Greene</a></li>
        </ul><!-- /contacts-list -->
      </div><!-- /contact-body -->
    </div><!-- /chat-contact -->

    <div class="chatbox">
      <h3 class="chatbox-heading">
        <a data-toggle="chatbox-close" href="#" class="pull-right text-sm text-silver"><i class="fa fa-times"></i></a>
        <i class="fa fa-circle-o text-primary"></i>
        Phillip Morrison
      </h3><!-- /chatbox-heading -->

      <div class="chatbox-body" data-toggle="niceScroll">

        <div class="chat-separate"><time class="chat-time" datetime="">Jan 9, 2014</time></div>

        <div class="chat-in">
          <div class="chat-user">Phillip Morrison</div>
          <div class="chat-msg">
            <p>Praesent cras quisque. Volutpat sit interdum. Magnis leo, duis faucibus eu, in rutrum nulla. Eget sed, dolor nibh. Vero mi habitant</p>
            <time class="chat-time" datetime="2013-12-13T20:00">01:14 PM</time>
          </div>
        </div><!-- /chat-in -->

        <div class="chat-out">
          <div class="chat-user">Me</div>
          <div class="chat-msg">
            <p>Dictum at aenean, faucibus euismod convallis. Ipsum nec, platea amet nulla.</p>
            <time class="chat-time" datetime="2013-12-13T20:00">01:16 PM</time>
          </div>
        </div><!-- /chat-out -->

        <div class="chat-in">
          <div class="chat-user">Phillip Morrison</div>
          <div class="chat-msg">
            <p>Eu augue, proin rutrum. Et vehicula, wisi fusce, ut ipsum</p>
            <time class="chat-time" datetime="2013-12-13T20:00">01:20 PM</time>
          </div>
        </div><!-- /chat-in -->

        <div class="chat-separate"><time class="chat-time" datetime="">Jan 14, 2014</time></div>

        <div class="chat-out">
          <div class="chat-user">Me</div>
          <div class="chat-msg">
            <p>Est penatibus pellentesque, augue tincidunt, a suspendisse</p>
            <time class="chat-time" datetime="2013-12-13T20:00">09:36 AM</time>
          </div>
        </div><!-- /chat-out -->

        <div class="chat-in">
          <div class="chat-user">Phillip Morrison</div>
          <div class="chat-msg">
            <p>Nunc nulla. Donec laoreet non, lobortis praesent</p>
            <time class="chat-time" datetime="2013-12-13T20:00">09:40 AM</time>
          </div>
        </div><!-- /chat-in -->

        <div class="chat-separate"><time class="chat-time" datetime="">Recent</time></div>

        <div class="chat-in">
          <div class="chat-user">Phillip Morrison</div>
          <div class="chat-msg">
            <p>Dui posuere. Reprehenderit felis libero, potenti vitae</p>
            <time class="chat-time" datetime="2013-12-13T20:00">12 min</time>
          </div>
        </div><!-- /chat-out -->

      </div><!-- /chatbox-body -->

      <div class="chatbox-footer">
        <form class="chat-form">
          <p class="chat-status"><i class="fa fa-spinner fa-spin"></i> Phillip Morrison is type...</p>
          <div class="form-group">
            <button type="submit" class="btn" title="Send"><i class="fa fa-share"></i></button>
            <input type="text" class="chat-input" name="send_chat" placeholder="Type a message">
          </div>
        </form>
      </div><!-- /chatbox -->
    </div><!-- /chatbox -->
  </div><!-- /module -->
</aside><!--/side-right -->



<!-- section footer -->
<a rel="to-top" href="#top"><i class="fa fa-arrow-up"></i></a>
<footer>
  <p>&copy; 2014 Stilearning</p>
</footer>


<!-- javascript
        ================================================== -->
<!-- List of dependencies file, please check on readme.txt! (Purchase only) -->

<!-- build:js scripts/vendor-main.js -->
<!-- bower:js -->
<script src="/assets/bower_components/jquery/jquery.js"></script>
<script src="/assets/bower_components/jqueryui/ui/jquery-ui.js"></script>
<script src="/assets/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor-usefull.js -->
<script src="/assets/bower_components/pace/pace.min.js"></script>
<script src="/assets/bower_components/jquery-pjax/jquery.pjax.js"></script>
<script src="/assets/bower_components/masonry/masonry.pkgd.min.js"></script>
<script src="/assets/bower_components/screenfull/dist/screenfull.min.js"></script>
<script src="/assets/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script src="/assets/bower_components/countUp.js/countUp.min.js"></script>
<script src="/assets/bower_components/skycons/skycons.js"></script>
<script src="/assets/bower_components/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="/assets/bower_components/WOW/dist/wow.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor-form.js -->
<script src="/assets/bower_components/jquery.validation/jquery.validate.js"></script>
<script src="/assets/bower_components/jquery.validation/additional-methods.js"></script>
<script src="/assets/bower_components/autogrow-textarea/jquery.autogrowtextarea.min.js"></script>
<script src="/assets/bower_components/typeahead.js/dist/typeahead.min.js"></script>
<script src="/assets/bower_components/jQuery-Mask-Plugin/jquery.mask.min.js"></script>
<script src="/assets/bower_components/jquery.tagsinput/jquery.tagsinput.min.js"></script>
<script src="/assets/bower_components/multiselect/js/jquery.multi-select.js"></script>
<script src="/assets/bower_components/select2/select2.js"></script>
<script src="/assets/bower_components/jquery-selectboxit/src/javascripts/jquery.selectBoxIt.js"></script>
<script src="/assets/bower_components/momentjs/moment.js"></script>
<script src="/assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/assets/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="/assets/bower_components/jquery-minicolors/jquery.minicolors.min.js"></script>
<script src="/assets/bower_components/dropzone/downloads/dropzone.min.js"></script>
<script src="/assets/bower_components/jquery-steps/build/jquery.steps.min.js"></script>
<script src="/assets/bower_components/fullcalendar/fullcalendar.js"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor-editor.js -->
<script src="/assets/bower_components/wysihtml5/dist/wysihtml5-0.3.0.js"></script>
<script src="/assets/bower_components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.js"></script>
<script src="/assets/bower_components/bootstrap-markdown/js/markdown.js"></script>
<script src="/assets/bower_components/bootstrap-markdown/js/to-markdown.js"></script>
<script src="/assets/bower_components/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<!-- endbuild -->


<!-- build:js scripts/excanvas.js -->
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/assets/bower_components/flot/excanvas.min.js"></script><![endif]-->
<!-- endbuild -->

<!-- build:js scripts/vendor-graph.js -->
<script src="/assets/bower_components/raphael/raphael-min.js"></script>
<script src="/assets/bower_components/morris.js/morris.min.js"></script>
<script src="/assets/bower_components/flot/jquery.flot.js"></script>
<script src="/assets/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/assets/bower_components/flot/jquery.flot.categories.js"></script>
<script src="/assets/bower_components/flot/jquery.flot.time.js"></script>
<script src="/assets/bower_components/flot-axislabels/jquery.flot.axislabels.js"></script>
<script src="/assets/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
<script src="/assets/bower_components/sparkline/dist/jquery.sparkline.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor-table.js -->
<script src="/assets/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="/assets/bower_components/datatables-tools/js/dataTables.tableTools.js"></script>
<script src="/assets/bower_components/datatables-bootstrap3/BS3/assets/js/datatables.js"></script>
<script src="/assets/bower_components/jquery.tablesorter/js/jquery.tablesorter.js"></script>
<script src="/assets/bower_components/jquery.tablesorter/js/jquery.tablesorter.widgets.js"></script>
<script src="/assets/bower_components/jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor-maps.js -->
<script src="/assets/bower_components/jqvmap/jqvmap/jquery.vmap.min.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/jquery.vmap.world.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/jquery.vmap.algeria.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/jquery.vmap.france.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/jquery.vmap.germany.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/jquery.vmap.russia.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
<script src="/assets/bower_components/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"></script>
<!-- endbuild -->

<!-- build:js scripts/vendor-util.js -->
<script src="/assets/bower_components/holderjs/holder.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- required stilearn template js -->
<!-- build:js scripts/main.js -->
<script src="/assets/after_login/bootstrap-jasny/js/fileinput.js"></script>
<script src="/assets/after_login/js-prototype.js"></script>
<script src="/assets/after_login/slip.js"></script>
<script src="/assets/after_login/hogan-2.0.0.js"></script>
<script src="/assets/after_login/theme-setup.js"></script>
<script src="/assets/after_login/chat-setup.js"></script>
<script src="/assets/after_login/panel-setup.js"></script>
<!-- endbuild -->

<!-- This scripts will be reload after pjax or if popstate event is active (use with class .re-execute) -->
<!-- build:js scripts/initializer.js -->
<script class="re-execute" src="/assets/after_login/google-code-prettify/run_prettify.js"></script>
<script class="re-execute" src="/assets/after_login/bootstrap-setup.js"></script>
<script class="re-execute" src="/assets/after_login/jqueryui-setup.js"></script>
<script class="re-execute" src="/assets/after_login/dependencies-setup.js"></script>
<script class="re-execute" src="/assets/after_login/demo-setup.js"></script>
<!-- endbuild -->

</body>
</html>